<div class="toolbar" fxLayout="row">
    <div fxFlex="30%" class="brand-wrap">
        <img src="{{brandDetails.logo}}" alt="{{brandDetails.name}}" class="logo-img" *ngIf="brandDetails">
        <h1 *ngIf="brandDetails?.showName">{{brandDetails.name}}</h1>
    </div>
    <div fxFlex="50%" class="title-wrap">
        <h1>{{title}}</h1>
    </div>
    <div fxFlex="20%" class="action-wrap">
        <button mat-fab class="back-btn" (click)="onBackClick()">
            <mat-icon svgIcon="back" class="back-btn-icon"></mat-icon>
        </button>
    </div>
</div>
