@import '../app.component.scss';

.menu-btn-container {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu-btn {
     width: 210px;
     background-color: $main-btn-color;
     font-size: 1.4rem;
}

.mat-raised-button {
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

.cart-btn {
    width: 80px;
    height: 80px;
    background-color: $main-btn-color;
}

.menu-btn-icon {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.cart-btn-icon {
    width: 48px;
    height: 48px;
}