<div fxLayout="column" fxLayoutAlign="center center" class="coverparent relative">
    <div fxFlex="10%" class="menu-btn-container"></div>
    <div fxFlex="15%" class="menu-btn-container">
        <button mat-raised-button class="menu-btn" routerLink="/collections" [disabled]="!collectionsEnabled">
            <mat-icon svgIcon="collections" class="menu-btn-icon"></mat-icon>
            COLLECTIONS
        </button>
    </div>
    <div fxFlex="15%" class="menu-btn-container">
        <button mat-raised-button class="menu-btn"  routerLink="/products" [disabled]="!productsEnabled">
            <mat-icon svgIcon="products" class="menu-btn-icon"></mat-icon>
            PRODUCTS
        </button>
    </div>
    <div fxFlex="15%" class="menu-btn-container">
        <button mat-raised-button class="menu-btn" [disabled]="!pickupEnabled" (click)="onPickupClick()">
            <mat-icon svgIcon="pickup" class="menu-btn-icon"></mat-icon>
            PICKUP
        </button>
    </div>
    <div fxFlex="20%" class="menu-btn-container"></div>
    <div fxFlex="20%" class="menu-btn-container">
        <button mat-fab class="cart-btn" (click)="onCartClick()" 
            [matBadge]="productsInCart" [matBadgeHidden]="cartBadgeHidden" matBadgeSize="large">
            <mat-icon svgIcon="cart" class="cart-btn-icon"></mat-icon>
        </button>
    </div>
    <div fxFlex="5%" class="menu-btn-container">
        <span class="flex-spacer"></span>
        <span class="busy blink" *ngIf="busyVisible">BUSY!</span>
    </div>
</div>