@import '../app.component.scss';

h2 {
    border-bottom: 1px solid;
    margin: 0;
}

.btn-wrap {
    margin: 10px;
}

.btn {
    background-color: $primary-color;
    width: 480px;
    height: 75px;
    font-size: 1.3rem;
}

.cancel-btn {
    background-color: $main-btn-color;
}

.mat-raised-button {
    border-radius: 20px;
}

.menu-btn-icon {
    width: 36px;
    height: 36px;
    margin-right: 5px;
}